 .u-section-1 {
  background-image: url("images/28113303_m.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 444px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  width: 694px;
  margin: 85px auto 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.5rem;
  width: 345px;
  margin: 29px auto 0;
}

.u-section-1 .u-btn-1 {
  margin: 70px auto 60px;
  padding: 10px 89px 10px 88px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 366px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 280px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 210px;
  }

  .u-section-1 .u-text-1 {
    width: 540px;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.25rem;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 132px;
  }

  .u-section-1 .u-text-1 {
    width: 340px;
  }

  .u-section-1 .u-text-2 {
    width: 340px;
  }
}